<?xml version="1.0"?>
<robot name="myfirstrobot">

  <link name="base_link">

    <visual>
      <origin xyz="0 0 0.3"/>
      <geometry>
        <sphere radius="0.3"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.3"/>
      <geometry>
        <sphere radius="0.3"/>
      </geometry>
    </collision>

  </link> 

</robot>
